/* FONTS USING IN THIS PROJECT

font-family: 'Great Vibes', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Varela', sans-serif; */

/* BASIC STYLING -START */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html ,
body{
    height: 100%;
    width: 100%;
    --header1 : 4rem;
    --header2 : 3.5rem;
    --header3 : 3rem;
    --header4 : 2.5rem;
    --header5 : 2rem;
    --header6 : 1.5rem;
    --common : 1.1rem;
    --text : 1rem;
    font-family: 'Varela', sans-serif;
}

/* BASIC STYLING -END */

/* SECTION ONE - START */

.section-one{
    min-height:100vh;
    width: 100%;
}

/* HEADER SECTION - START */

header{
    width: 100%;
    height: 10vh;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.75);
}

nav{
    width:90%;
    margin:auto;
    height:10vh;
    display: flex;
    align-items: center;
    z-index: 1;
}

.logo{
    font-size: var(--header5);
    font-family: 'Great Vibes', cursive;
    flex:1;
    width: 70%;
    font-weight: 600;
    cursor: pointer;
}

.nav-links{
    list-style: none;
    width: 30%;
    font-size: var(--common);
    font-weight: 600;
    display: flex;justify-content: space-around;
}

.nav-links li{
    cursor: pointer;
}

/* HEADER SECTION - END */

/* MAIN SECTION START */

main{
    min-height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.description{
    height: 90vh;
    flex:1 1 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.description h2{
    font-size: var(--header4);
    padding:1rem;
}

.description h1{
    font-size: var(--header3);
    padding:1rem;
}

.description p{
    font-size: var(--common);
    padding:2rem 3rem;
}

.gallery-link{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding:0.5rem 1rem;
    margin-top: 3rem;
    cursor: pointer;
}

.image{
    height: 90vh;
    flex:1 1 600px;
}

.elena-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

/* MAIN SECTION END */

/* ABOUT SECTION -STARTED */

.aboutSection{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.minimal{
    height: 100vh;
    flex:1 1 600px;
    position: relative;
}

.minimalh1{
    font-size: var(--header3);
    letter-spacing: 1.04rem;
    color: white;
    position: absolute;
    background-color: transparent;
    width: 100%;
    height:15vh;
    display: grid;
    text-align: center;
}

.chloe-img{
    margin: auto;
    height: 100%;
    width:100%;
    object-fit: cover;
    pointer-events: none;
}

.chloe-gill{
    height: 100vh;
    flex:5 1 600px;
    background-color: #3A602D;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:3rem;
    color: white;
}

.chloe-gill h1{
    font-size: var(--header2);
    text-align: center;
    font-family: 'Great Vibes', cursive;
}

.chloe-gill h3{
    font-size: var(--header5);
    padding: 1rem 0;
}

.chloe-gill p{
    letter-spacing: .1rem;
}
/* ABOUT SECTION -ENDED */

/* WORK SECTION - STARTED */

.worksection{
    min-height: 100vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50% 50%;
    /* grid-template-areas: "pic1 pic1 pic2"
                         "pic3 pic3 pic2"; */
}

.pic1{
    grid-column: 1 / 3;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.pic2{
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    max-height:100%;
    width: 100%;
    object-fit: cover;
    pointer-events: none;
}

.pic3{
    grid-column: 1/2;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.pic4{
    grid-column: 2/3;
    max-height: 100%;
    width: 100%;
    background-position: top;
    object-fit: cover;
    pointer-events: none;
}

/* WORK SECTION - ENDED */

/* KEYFRAMES - SECTION ONE - START */



/* KEYFRAMES - SECTION ONE - END */


/* MEDIA QUERIES SECTION ONE-START */

@media only screen and (max-width:1370px){
    .image{
        height:100vh;
        position: relative;
    }
    .elena-img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        bottom:0;
    }
    .minimalh1{
        font-size: var(--header3);
        letter-spacing: 0.8rem;
        color: white;
        position: absolute;
        background-color: transparent;
        width: 100%;
        height: 30vh;
        display: grid;
        justify-items: center;
        align-items: center;
    }
    .chloe-gill h1{
        font-size: var(--header4);
    }
    .chloe-gill h3{
        font-size: larger;
    }
    .chloe-gill p{
        font-size: smaller;
    }
    .worksection{
        min-height: 100vh;
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 300px;
        background-color: rgb(68, 67, 67);
    }
    .pic{
        grid-column: auto;
        grid-row: auto;
        min-height:100%;
        width: 100%;
        object-fit: cover;
        pointer-events: none;
    }
}

@media only screen and (max-width:600px){
    .minimalh1{
        font-size: var(--header6);
        letter-spacing: 0.5rem;
        color: white;
        position: absolute;
        background-color: transparent;
        width: 100%;
        height: 30vh;
        display: grid;
        justify-items: center;
        align-items: center;
    }

    .description h2{
        font-size: 1.5rem;
    }

    .description h1{
        font-size: 2.1rem;
    }

    .description p{
        font-size: .9rem;
    }
}


@media only screen and (min-width:1400px){
   
    .minimal{
        height: 100vh;
        flex:3 1 600px;
        position: relative;
    }
    .chloe-gill{
        padding:2rem;
    }
    .chloe-gill h1{
        font-size: var(--header1);
    }
    .chloe-gill h3{
        font-size: var(--header3);
    }
    .chloe-gill p{
        font-size: var(--header6);
    }
}

/* MEDIA QUERIES SECTION ONE-END */


/* SECTION ONE - END */