/* FONTS USING IN THIS PROJECT

font-family: 'Great Vibes', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Varela', sans-serif; */

/* BASIC STYLING -START */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html ,
body{
    height: 100%;
    width: 100%;
    --header1 : 4rem;
    --header2 : 3.5rem;
    --header3 : 3rem;
    --header4 : 2.5rem;
    --header5 : 2rem;
    --header6 : 1.5rem;
    --common : 1.1rem;
    --text : 1rem;
    font-family: 'Varela', sans-serif;
}

/* BASIC STYLING -END */

/* SECTION ONE - START */

.section-one{
    height:100vh;
    width: 100%;
}

/* HEADER SECTION - START */

header{
    width: 100%;
    height: 10vh;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.75);
}

nav{
    width:90%;
    margin:auto;
    height:10vh;
    display: flex;
    align-items: center;
    z-index: 1;
}

.logo{
    font-size: var(--header5);
    font-family: 'Great Vibes', cursive;
    flex:1;
    width: 70%;
    font-weight: 600;
}

.nav-links{
    list-style: none;
    width: 30%;
    font-size: var(--common);
    font-weight: 600;
    display: flex;justify-content: space-around;
}

/* HEADER SECTION - END */

/* MAIN SECTION START */

main{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.description{
    height: 90vh;
    flex:1 1 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.description h2{
    font-size: var(--header4);
    padding:1rem;
}

.description h1{
    font-size: var(--header3);
    padding:1rem;
}

.description p{
    font-size: var(--common);
    padding:2rem 3rem;
}

.gallery-link{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding:0.5rem 1rem;
    margin-top: 3rem;
}

.image{
    height: 90vh;
    flex:1 1 600px;
    display: block;
}

.elena-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* MAIN SECTION END */

/* ABOUT SECTION -STARTED */

.aboutSection{
    height: 100vh;
    width: 100%;
    background-color: rgb(153, 8, 179);
    display: flex;
    flex-wrap: wrap;
}

.minimal{
    height: 100vh;
    flex:0 1 600px;
    background-color: red;
    position: relative;
}

.minimal h1{
    font-size: var(--header2);
    letter-spacing: 1.5rem;
    color: white;
    position: absolute;
    padding-top: 4rem;
    padding-left: 6rem;
}

.chloe-img{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.chloe-gill{
    height: 100vh;
    flex:5 1 600px;
    background-color: #3A602D;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:3rem;
    color: white;
}

.chloe-gill h1{
    font-size: var(--header2);
    text-align: center;
    font-family: 'Great Vibes', cursive;
}

.chloe-gill h3{
    font-size: var(--header5);
    padding: 1rem 0;
}

.chloe-gill p{
    letter-spacing: .1rem;
}
/* ABOUT SECTION -ENDED */

/* KEYFRAMES - SECTION ONE - START */



/* KEYFRAMES - SECTION ONE - END */


/* MEDIA QUERIES SECTION ONE-START */

@media only screen and (max-width:600px){
    .image{
        height:100vh;
        position: relative;
    }
    .elena-img{
        height: 90%;
        width: 100%;
        object-fit: cover;
        position: absolute;
        bottom:0;
    }
    .minimal h1{
        font-size: var(--header2);
        letter-spacing: 0.8rem;
        color: white;
        position: absolute;
        padding-top: 4rem;
        padding-left: 0.8rem;
    }
}

/* MEDIA QUERIES SECTION ONE-END */


/* SECTION ONE - END */